.skills {
    //grid-column: col-mid / col-end;
    //grid-row: row-2-start / row-2-end;
    
    width: 80%;
    justify-self: start;

    display: grid;
    grid-template-columns: [col-start] 20% [col-mid] 80% [col-end];
    grid-template-rows: [header-start] min-content [header-end body-start] 1fr [body-end];
    grid-gap: .5rem;

    margin-top: .5rem;

    &__line {
        grid-row: header-start / header-end;
        grid-column: col-start / col-end;

        align-self: end;
        background-color: #e1e1e1;
        height: 3px;
        border-radius: 10px;
    }

    &__fig {

        grid-row: header-start / header-end;
        grid-column: col-start / col-mid;

        justify-self: center;

        display: flex;
        justify-content: center;
        align-items: center;
        height: 5rem;
        width: 5rem;
        padding: 1.2rem;
        background-color: #33a4c9;
        border-radius: 50%;
        margin: 1rem 0px;

        &__icon {
            fill: white;
            //height: 2.8rem;
        }
    }

    &__header {

        grid-row: header-start / header-end;
        grid-column: col-mid / col-end;

        font-size: 2.4rem;
        line-height: 2rem;
        align-self: center;
    }

    &__body {
        grid-row: body-start / body-end;
        grid-column: col-start / col-end;
    }
}

.item {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    margin: .5rem 0px;;

    &__header {
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: uppercase;
    }

    &__container {
        height: .5rem;
        width: 100%;
        background-color: #e1e1e1;
        //outline: 2px solid #CEB888;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin: .5rem 0;
    
        &--bar {
            height: inherit;
            width: 60%;
            background-color: #33a4c9;
            background: linear-gradient(90deg,#33a4c9, #33a4c9);
        }
    }

    &__listing {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

.list {

    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    &__fig {
    
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2rem;
        width: 2rem;
        //border: 1px solid green;
        padding: 0 .5rem 0 0;

        &--icon {
            fill: green;
            //height: 3rem;
        }
    }

    &__text {
        font-size: 1.4rem;
        font-weight: 600;
    }
}

