.bottomLeft {
  .contact {
    border: 1px solid white;
    width: 80%;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    h3 {
      color: white;
      font-size: 18px;
      line-height: 28px;
      font-weight: 500;
      font-family: 'Open Sans', sans-serif;
      text-transform: uppercase;
      position: relative;
      padding-bottom: 5px;
      margin-bottom: 10px;

      &::after {
        content: '';
        position: absolute;

        bottom: 0px;
        left: 0px;
        width: 20%;
        height: 1px;
        background-color: white;
      }
    }

    ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      .items {
        width: 100%;

        display: flex;
        justify-content: start;
        align-items: center;
        .items_svg {
          width: 50px;
          height: 50px;
          fill: white;
          padding: 10px;
          margin-right: 10px;
        }

        .text {
          color: white;
          font-size: 12px;
          font-weight: 300;
          font-family: 'Open Sans', sans-serif;
        }
      }
    }
  }
}
