.bottomLeft {
  .contact {
    border: 1px solid white;
    width: 80%;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    h3 {
      color: white;
      font-size: 18px;
      line-height: 28px;
      font-weight: 500;
      // font-family: 'Open Sans', sans-serif;
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      position: relative;
      padding-bottom: 5px;
      margin-bottom: 10px;

      &::after {
        content: '';
        position: absolute;

        bottom: 0px;
        left: 0px;
        width: 20%;
        height: 1px;
        background-color: white;
      }
    }

    ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      .items {
        width: 100%;

        display: flex;
        justify-content: start;
        align-items: center;
        padding: 5px 0px;
        .items__svg {
          flex: 0 0 50px;
          width: 25px;
          height: 25px;
          fill: white;
          padding: 1px;
          margin-right: 5px;
        }

        .items__text {
          flex: 1 0 auto;
          color: white;
          font-size: 12px;
          font-weight: 500;
          font-family: 'Roboto', sans-serif;

          .items__link {
            &:active,
            &:link,
            &:visited {
              color: white;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
