.experience {
  --fontColor1: #959595;
  --fontColor2: #64656a;
  --fontColor3: #34343e;

  width: var(--workWidth);
  margin: auto;

  & > .title {
    font-size: var(--headerFontSize);
    line-height: var(--headerLineHeight);
    font-weight: 700;
    // font-family: 'Open Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    color: #424859;
    position: relative;
    margin-bottom: 20px;
    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0px;
      height: var(--headerUnderLineWidth);
      width: 100%;
      background-color: #424859;
    }
  }

  & > .body {
    width: 100%;

    .workItem {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      .timeline {
        flex: 0 0 var(--timelineSpace);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

        overflow-y: hidden;

        & > .circle {
          border-radius: 50%;
          border: var(--timelineWidth) solid #828385;
          width: 15px;
          height: 15px;
          margin: 0px;
          position: relative;
          &::after {
            content: '';
            position: absolute;
            width: var(--timelineWidth);
            height: 50vw;
            top: 100%;
            left: 50%;
            background-color: #828385;
            transform: translateX(-50%);
          }
        }
      }

      .info {
        flex: 1 1 auto;

        display: flex;
        flex-direction: column;
        padding-bottom: var(--xpPadBottom);
        padding-right: var(--xpPadBottom);

        .position {
          &__location {
            font-family: 'Montserrat';
            font-size: 16px;
            line-height: 20px;
            font-weight: 900;
            text-transform: capitalize;
            color: var(--fonftColor3);
          }

          &__divider {
            margin: 0px 2.5px;
            font-size: 16px;
            line-height: 20px;
            font-weight: 500;
            text-transform: capitalize;
            color: var(--fonftColor2);
            font-family: 'Montserrat';
          }

          &__title {
            font-size: 16px;
            line-height: 20px;
            font-weight: 500;
            text-transform: capitalize;
            color: var(--fonftColor2);
            font-family: 'Montserrat';
          }

          &__duration {
            font-size: 12px;
            line-height: 20px;
            font-weight: 500;
            text-transform: capitalize;
            color: var(--fonftColor2);
            font-family: 'Montserrat';
          }

          &__summary {
            font-size: 12px;
            line-height: 16px;
            font-weight: 500;
            margin: 5px 0px;
            color: var(--fonftColor1);
            font-family: 'Montserrat';
          }
        }
        .details {
          padding-left: 25px;
          width: 100%;
          &__item {
            font-family: 'Montserrat';
            overflow-wrap: hidden;
            width: 100%;
            list-style-type: disc;
            font-size: 12px;
            line-height: 18px;
            font-weight: 500;
            word-wrap: break-word;
            word-break: normal;
            color: black;
            color: var(--fonftColor1);
            margin-bottom: 2.5px;
          }
        }
      }

      &:last-child {
        .info {
          padding-bottom: 0px;
        }
      }
    }
  }
}
