.header {
  width: var(--workWidth);

  .name {
    color: #424859;
    font-size: 42px;
    line-height: 60px;
    font-weight: 400;
    // font-family: 'Open Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;

    .bold {
      font-weight: 900;
    }
  }
  .title {
    font-family: 'Montserrat';
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--fonftColor3);
    color: #15161a;
  }
  .intro {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    margin: 15px 0px 0px 0px;
    color: var(--fonftColor1);
    font-family: 'Montserrat';
    .bold {
      font-weight: 900;
    }
  }
}
