/**********
/* Header
**********/

.banner {

    grid-column: col-start / col-end;
    
    width: 80%;
    justify-self: center;
    align-self: center;
    background:#fff;
    padding: 2rem 0;

    display: grid;
    grid-template-columns: 50% 50%;
    

    &__header {
        
        justify-self: start;
        align-self: center;

        &--1 {
            color:#555;
            font-size: 3.6rem;
            font-family:'DroidSansBold', Arial, sans-serif; 
        }

        &--2 {
            //color:#cecece;
            color: #147393;;
            font-style: italic;
            font-size: 3rem;
            //text-shadow: 1px 1px 0 rgba(0,0,0,.3);
        }
    }

    &__fig {

        justify-self: end;
        align-self: center;
        border-radius: 50%;
        
        height: 15rem;
        width: 15rem;

        &--image {
            border-radius: 50%;
            height: 15rem;
            width: 15rem;
            border: 3px solid #cecece;
        }
    }
}
