.skills {
  // border: 1px solid white;
  width: 80%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  h3 {
    color: white;
    font-size: var(--headerFontSize);
    line-height: var(--headerLineHeight);
    font-weight: 500;
    // font-family: 'Open Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 10px;

    &::after {
      content: '';
      position: absolute;

      bottom: 0px;
      left: 0px;
      width: 20%;
      height: var(--headerUnderLineWidth);
      background-color: white;
    }
  }

  .skillSection {
    padding-bottom: 20px;
    .skill__title {
      font-family: 'Montserrat';
      font-size: 16px;
      line-height: 20px;
      font-weight: 700;
      text-transform: capitalize;
      color: white;
      .skill__marker {
      }
    }
    .skill__list {
      list-style-type: none;
      .skill__item {
        color: #a8aebc;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        // font-family: 'Open Sans', sans-serif;
        font-family: 'Montserrat', sans-serif;
        text-transform: none;
      }
    }
  }
}
