*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* Will set the standard font size of the webpage tp 10px in order to facilitate the use of rem in the whole site*/
  //font-size: 62.5%; // 1rem = 10px  assuming browser default of 16px 62.5% * 16px = 10px;
  font-size: 8.5px;
}

body {
    box-sizing: border-box;
    color: #333;
    font-family: 'Roboto', sans-serif; 
    margin: 0;
    padding: 0;
  //font-weight: 300;
  //min-height: 100vh;
}

/*
@page {
    size: 8.5in 11in;
}

@page {
    size: letter portrait;
    margin: 0;
}
*/

// This is from the style.css - START
@page{
  size: letter portrait;
  margin: 0;
}

*{
  box-sizing: border-box;
}

:root{
  --page-width: 8.5in;
  --page-height: 11in;
  --main-width: 6.4in;
  --sidebar-width: calc(var(--page-width) - var(--main-width));
  --decorator-horizontal-margin: 0.2in;

  --sidebar-horizontal-padding: 0.2in;

  /* XXX: using px for very good precision control */
  --decorator-outer-offset-top: 10px;
  --decorator-outer-offset-left: -5.5px;
  --decorator-border-width: 1px;
  --decorator-outer-dim: 9px;
  --decorator-border: 1px solid #ccc;

  --row-blocks-padding-top: 5pt;
  --date-block-width: 0.6in;

  --main-blocks-title-icon-offset-left: -19pt;
}

body{
  width: var(--page-width);
  height: var(--page-height);
  margin: 0;
  //font-weight: 300;
  //line-height: 1.3;
  //color: #444;
  hyphens: auto;
}


// This is from the style.css - END
